Repository mousebrains/OpenIrrigation: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, phpstan

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        args: [--fix]
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: npx eslint
        language: system
        files: ^public_html/js/.*\.js$
        exclude: ^public_html/packages/
      - id: pytest
        name: pytest
        entry: python -m pytest tests/ -x -q
        language: system
        pass_filenames: false
        always_run: true
      - id: phpstan
        name: phpstan
        entry: phpstan analyse --no-progress
        language: system
        files: \.php$
        pass_filenames: false
      - id: bandit
        name: bandit
        entry: bandit -r scripts/ -q
        language: system
        pass_filenames: false

Contain and harden systemd services for the 1GB Pi
  service/OIAgriMet.service
  service/OIAgriMetStats.service
  service/OIDailyReport.service
  service/OIDatabaseMaintenance.service
  service/OISched.service
  service/OITDI.service
Due: none

Coalesce NOTIFY bursts in SSE endpoints and stop error busy-loops
  public_html/indexStatus.php
  public_html/monitorStatus.php
  public_html/reportDailyStatus.php
  public_html/status.php
Due: phpstan

Add historical(pgmDate) index for the scheduler's loadExisting query
  database/README.md
  database/check_schema.py
  database/db.schema.sql
  database/migrate_006.py
Due: none

Small PHP fixes: error-message interpolation, attr escaping, ORDER BY case
  public_html/ET.php
  public_html/tableRowInsert.php
  public_html/tableStatus.php
Due: phpstan

Escape attribute-interpolated values in index.js and monitor.js
  public_html/js/index.js
  public_html/js/monitor.js
Due: eslint

Correct CLAUDE.md on the OISched service lifecycle
  CLAUDE.md
Due: none

Enforce soak time on mid-run reschedules; half-open action insert guards
  database/db.schema.sql
  database/migrate_007.py
  scripts/SchedMain.py
  scripts/SchedResource.py
  tests/test_sched_main.py
  tests/test_sched_resource.py
Due: none

Add inline-filter status schema (Phase 1 foundation)
  database/db.list.sql
  database/db.params.sql
  database/db.schema.sql
  database/migrate_008.py
  public_html/php/navBar.php
Due: phpstan

Filter migration: own new tables as the parent role; add Flow field
  database/db.schema.sql
  database/migrate_008.py
Due: none

Filter Log: add the NOTIFY trigger so the table view live-refreshes
  database/db.funcs.sql
  database/migrate_008.py
Due: none

Filter Log: display the reading timestamp
  database/db.schema.sql
  database/migrate_008.py
Due: none

Add filterBaseline.py: seed cleanFlow + qFilterSensor from post-clean runs
  scripts/filterBaseline.py
Due: none

Add FilterMonitor.py: filter degradation index + volume odometer
  database/db.params.sql
  database/db.schema.sql
  database/migrate_009.py
  scripts/FilterMonitor.py
  scripts/Makefile
  scripts/filterBaseline.py
  scripts/filterCommon.py
  service/Makefile
  service/OIFilterMonitor.service
  service/OIFilterMonitor.timer
Due: none

Add inline-filter status badge to the nav bar
  public_html/css/irrigation.css
  public_html/js/status.js
  public_html/php/navBar.php
  public_html/php/version.php
  public_html/status.php
Due: eslint, phpstan

Implement backward (end-anchored) window filling via program.qBackward
  README.md
  database/db.schema.sql
  database/migrate_010.py
  scripts/SchedPlacer.py
  scripts/SchedProgram.py
  tests/helpers.py
  tests/test_sched_placer.py
Due: none

Harden backward-fill per adversarial review of the implementation
  database/migrate_010.py
  scripts/SchedPlacer.py
  tests/test_sched_placer.py
Due: none

Fix Stop2Start checkbox never displaying as checked
  database/db.schema.sql
  database/migrate_010.py
Due: none

Survive a PostgreSQL restart instead of dying hours later
  scripts/AgriMet.py
  scripts/DB.py
  scripts/Notify.py
  scripts/TDIserver.py
  scripts/TDIvalve.py
  scripts/dailyReport.py
  scripts/scheduler.py
  tests/conftest.py
  tests/test_db.py
  tests/test_notify.py
  tests/test_tdivalve.py
Due: none

Report a down database clearly instead of a NoneType TypeError
  scripts/DB.py
  scripts/Notify.py
  scripts/TDIvalve.py
  tests/test_db.py
Due: none

Bump brace-expansion from 5.0.7 to 5.0.9
  package-lock.json
Due: none
