Repository mousebrains/OpenIrrigation: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, phpstan

eslint:
  name: eslint
  entry: npx eslint
  language: system

phpstan:
  name: phpstan
  entry: phpstan analyse --no-progress
  language: system
  pass_filenames: false

Fix CI: add PHP/Python type annotations, fix pre-commit config
  .github/workflows/main.yml
  .pre-commit-config.yaml
  public_html/etDaily.php
  public_html/indexStatus.php
  public_html/monitorStatus.php
  public_html/php/DB1.php
  public_html/processStatus.php
  public_html/reportDailyStatus.php
  public_html/status.php
  public_html/tableStatus.php
  scripts/DB.py
  scripts/SchedProgram.py
  scripts/SchedProgramStation.py
  scripts/SchedSensor.py
Due: phpstan

Fix CI: correct mypy type ignore, add bandit config to pre-commit
  .coverage
  .pre-commit-config.yaml
  scripts/DB.py
Due: none

Remove .coverage from repo, add to .gitignore
  .coverage
  .gitignore
Due: none

CI: skip ruff-check in pre-commit (has its own CI job)
  .github/workflows/main.yml
Due: none

CI: add temporary ruff debug step to diagnose platform diff
  .github/workflows/main.yml
Due: none

CI: remove temporary ruff debug step
  .github/workflows/main.yml
Due: none

Optimize scheduler: bisect-based overlap queries in ResourceTracker
  scripts/SchedPlacer.py
  scripts/SchedResource.py
Due: none

OITDI codebase improvements: safety, readability, modularity, robustness, tests
  scripts/MyBaseThread.py
  scripts/TDI.py
  scripts/TDISimulate.py
  scripts/TDIbase.py
  scripts/TDIconstants.py
  scripts/TDIserial.py
  scripts/TDIserver.py
  scripts/TDIvalve.py
  tests/test_tdi_polling.py
  tests/test_tdiserial.py
  tests/test_tdisimulate.py
  tests/test_tdivalve.py
Due: none

Fix mypy: add REQUIRED_PARAMS class attribute to Base
  scripts/TDIbase.py
Due: none

Add TDIconstants.py to install list in scripts/Makefile
  scripts/Makefile
Due: none

Harden dailyReport: error handling, query bounds, HTML escaping, testability
  scripts/dailyReport.py
  tests/test_dailyreport.py
Due: none

Color-code under-target run times in Daily Summary; reorder nav menu
  public_html/js/reportDaily.js
  public_html/php/navBar.php
  public_html/reportDailyStatus.php
Due: eslint, phpstan

Modernize reportDaily.js and reportDailyStatus.php style
  public_html/js/reportDaily.js
  public_html/reportDailyStatus.php
Due: eslint, phpstan

Add target tooltip and combined today logic for Daily Summary
  public_html/js/reportDaily.js
  public_html/reportDailyStatus.php
Due: eslint, phpstan

Clean up web interface: remove dead CSS, debug logging, and semantic issues
  public_html/css/irrigation.css
  public_html/css/table.css
  public_html/css/tooltip.css
  public_html/css/topnav.css
  public_html/js/irrigation.js
  public_html/js/monitor.js
  public_html/js/reportDaily.js
  public_html/js/status.js
  public_html/js/tableEditor.js
Due: eslint

Expand CLAUDE.md with deeper project conventions and tooling
  CLAUDE.md
Due: none

Upgrade eslint to v10 and @eslint/js to v10
  package-lock.json
  package.json
Due: none

Fix eslint curly warnings by adding braces to single-line if statements
  public_html/js/flowGraph.js
  public_html/js/index.js
  public_html/js/irrigation.js
  public_html/js/monitor.js
  public_html/js/tableEditor.js
Due: eslint

Drop redundant log-table indexes to reduce SD writes
  database/db.schema.sql
  database/migrate_004.py
Due: none

Keep SSE alive on iOS by shortening burp interval and forcing reconnect
  public_html/indexStatus.php
  public_html/js/irrigation.js
  public_html/monitorStatus.php
  public_html/php/version.php
  public_html/processStatus.php
  public_html/reportDailyStatus.php
  public_html/status.php
  public_html/tableStatus.php
Due: eslint, phpstan

Add sdWear.py to estimate SD-card wear from kernel counters
  scripts/sdWear.py
Due: none

Fix maxCoStations not constraining unlimited stations on the same POC
  scripts/SchedMain.py
  scripts/SchedResource.py
  tests/test_sched_placer.py
  tests/test_sched_resource.py
Due: none

Address PR review hardening feedback
  INSTALL.debian.md
  database/migrate_005.py
  public_html/js/irrigation.js
  public_html/js/tableEditor.js
  public_html/monitorActiveOff.php
  public_html/monitorPendingRemove.php
  public_html/monitorPocOff.php
  public_html/php/navBar.php
  public_html/php/version.php
  public_html/tableRowDelete.php
  public_html/tableRowInsert.php
  public_html/tableRowUpdate.php
  scripts/SchedMain.py
  scripts/scheduler.py
Due: eslint, phpstan

Retry failed scheduler runs sooner
  scripts/scheduler.py
Due: none

Raise PHPStan to level 8
  phpstan.neon
  public_html/etDaily.php
  public_html/indexStatus.php
  public_html/monitorStatus.php
  public_html/php/DB1.php
  public_html/status.php
  public_html/tableRowInsert.php
  public_html/tableRowUpdate.php
  scripts/scheduler.py
Due: phpstan

Polish PHPStan level 8 follow-up
  CLAUDE.md
  public_html/etDaily.php
  public_html/indexStatus.php
  public_html/monitorStatus.php
  public_html/php/DB1.php
  public_html/status.php
Due: phpstan

Make service stop skip missing units
  service/Makefile
Due: none

Make service stop tolerate missing units during upgrades
  service/Makefile
Due: none

Render flow graph with stepwise transitions
  public_html/js/flowGraph.js
  public_html/php/version.php
Due: eslint, phpstan

Fix flow graph fabricating values by averaging within buckets
  public_html/flowGraphData.php
Due: phpstan

Fix stepped direction so values hold until the next reading
  public_html/js/flowGraph.js
  public_html/php/version.php
Due: eslint, phpstan

Add cumulative daily volume to the flow graph
  public_html/flowGraphData.php
  public_html/js/flowGraph.js
  public_html/php/version.php
Due: eslint, phpstan

Drop flow graph axis titles and color the tick labels instead
  public_html/js/flowGraph.js
  public_html/php/version.php
Due: eslint, phpstan

Restore colored y-axis titles and hide the flow graph legend
  public_html/js/flowGraph.js
  public_html/php/version.php
Due: eslint, phpstan

Fix manual runs shorter than minCycleTime being shorted to zero
  scripts/SchedPlacer.py
  tests/test_sched_placer.py
Due: none

Fix TDI service crash when onInfo hits a DB error during valve-on
  scripts/TDIvalve.py
  tests/test_tdivalve.py
Due: none

Add SMTP timeout to exception notification
  scripts/Notify.py
Due: none

Prune all TDI controller log tables in database maintenance
  scripts/databaseMaintenance.py
Due: none

Path conditions:
  eslint: any of: ^public_html/js/.*\.js$, but not: ^public_html/packages/
  phpstan: any of: \.php$
